{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Register today!</h1>
    {{ form_start(form) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(form) }}
    <p>Already have an account? <a href="{{ path('login') }}">Go to</a> the loging page! </p>

{% endblock %}
